body {
  background-color: rgb(243, 243, 243);
  height: 100vh;
}

.App {
  height: 100%;
}

.book-img {
  height: 400px;
  width: 280px;
}

.book-img:hover {
  opacity: 0.7;
}

.display-row {
  margin-top: 1em;
}

.img-card {
  width: 280px;
  margin-left: 5px;
}

.input-seamless > .input-group-prepend {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 4;
}

.input-seamless > .input-group-prepend > .input-group-text {
  background: 0 0;
  border: 0;
}

.input-seamless > input {
  padding-left: 40px;
}

.nav-link {
  padding: 0.625rem 1.125rem;
}

.poll {
  margin: 10px 0 10px 0;
  border-bottom: 5px black;
}

.poll-label {
  padding-left: 5px;
}

.rounded {
  border-radius: 30px !important;
}

.text-center {
  text-align: center;
}

#bg-navbar-pink {
  background-color: #f032a7;
}

#footer {
  width: 100%;
  border-top: 1px solid black;
  position: absolute;
  bottom: 0;
  background-color: #f032a7;
}

#home-page-banner {
  font-size: 72px;
  background: -webkit-linear-gradient(#f032a7, #7e55ed);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 300;
}

#loading {
  padding-top: 20em;
}

#nav-dropdown :hover {
  color: black;
}

#profile-icon {
  border-radius: 50%;
  margin: 0px 10px 0px 5px;
}

#profile-link {
  background-color: #f032a7;
  margin-right: 1em;
}

#profile-link:hover {
  background-color: #7e55ed;
  opacity: 85%;
}
